@import "tailwindcss";

/* :root{
    --primary-title: #aaabad;
   --bg-card:#cd0048 
   --bg-color:#191b1d; 
   --accent:#22272e;
   --primary: #21262d; 
   --bg-border: #dee2e5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    color: var(--primary);
    background: var(--bg-color)
} */
